{% extends 'navbar.html' %}
{% block home %}
<div class="container" style="background-color:white; border-radius:20px; padding:10px;">
    <h2 style="text-align:center;border-bottom: 4px solid rgb(190, 248, 55);">Hostel Rules & Regulations </h2><br>

   <b> 1) Quiet Hours :</b> <span>Keep noise down during specific hours, usually at night, so others can sleep peacefully. </span> <br>
    <b> 2) No Smoking:</b> <span> Smoking is not allowed inside the hostel building.</span> <br>
   <b> 3) No Drugs or Alcohol:</b> <span>Usage of drugs or  alcohol consumption is strictly prohibited in the hostel premises </span> <br> 
   <b> 4) Respect Privacy</b> <span>  Always knock before entering a room, and respect other people's personal space.</span> <br>
   <b> 5) Check-Out Time: </b> <span> Leave the room or bed by the specified check-out time to allow for cleaning for new guests.</span> <br>
   <b> 6) Maintain Cleanliness</b> <span> Keep your surroundings neat & clean and through dust in dustbins only.  </span> <br>
   <b> 7) Lockers</b> <span>  Use lockers for your valuables and secure your belongings. Hostel Management are not responsible for lost items.</span> <br>
   <b> 8) No Pets: </b> <span> Pets are not allowed into hostel.</span> <br>
   <b> 9) Guests stay: </b> <span> Guests must pay atleast 3 days of fee in advance and fee per day is <b>Rs.300/- </b> for Non AC and <b>Rs.500/-</b> for AC. </span> <br>
   <b> 10) Monthly stay: </b> <span>  Monthly payment of <b>4500/-</b> must be paid as advance.</span> <br>
   <b> 11) Inform : </b> <span> Person must inform to the warden 10 days before vacating the hostel.</span> <br>
   <b>12) Break Fast </b><span>Timings : 8:00am - 10:30am</span><br>
   <b>13) Lunch </b><span>Timings : 12:30pm - 2:00pm</span><br>
   <b>14) Dinner </b><span>Timings : 7:30pm - 9:00pm</span><br>
   <b>15) Closing Time: </b><span>Hostel gates will be closed after 10:30pm</span><br>
   <b>16) Outsiders will not be allowed inside the hostel.</b><br>
   <b>17) No Electronic devices:</b><span>Electronic devices like heater,iron box,kettle,etc are not allowed.</span>
  
  </div>
{% endblock %}